   body {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;

    background-color: #fff;
  }
  a {
    text-decoration: none;
  } 
  img {
    max-width: 100%;
    height: auto;
  }
  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .index-header {
    background-color: #293449;
  }
  .logo {
    background-color: #ee3643;
    text-align: center;
  }
  .logo:hover {
    background-color: #ca2c37;
  }
  .logo:focus {
    background-color: #ca2c37;  
  }
  .logo:active {
    background-color: #ba2732;
  }
  .search {
    position: relative;
  }
  .search:hover {
    background-color: #212a3a;
    opacity: 1;
  }
  /* Сверху костыль) */
  .search svg {
    position: absolute;
    opacity: 0.3;
    top: 2px;
    left: 17px;
  }
  .search path {
    fill: #fff;
  }
  .header-search {
    padding: 0;
    border: none;
    background-color: #293449;
    color: #fff;
    /* width: 220px; */
    width: 270px;
    min-height: 42px;
    padding-left: 49px;
  }
  .checkbox-indicator {
    content: "";
    width: 17px;
    height: 17px;
    opacity: 0.3;
    background-image: url("../img/icon-search.svg");
  } 

  .header-search::-webkit-input-placeholder {
    color: #fff;
  }
  .header-search:-ms-input-placeholder { 
    color: #fff; 
  }
  .header-search::-ms-input-placeholder { 
    color: #fff; 
  }
  .header-search::placeholder {
    color: #fff;
  } 
  .header-search:hover {
    background-color: #212a3a;
  }
  .header-search:focus {
    background-color: #fff;
    color: #000;
    border: none;
  }
  .main-header a {
    color: #fff;  
  }
  .bookmarks a {
    padding-top:14px ;   
    padding-bottom: 14px;  
    padding-left: 44px; 
    padding-right: 28px;  
  }
  .main-header-logo {
    display: flex;
  }
  .main-header-logo:hover {
    background-color: #ca2c37; 
  }
  .main-header-logo:active,
  .main-header-logo:focus  {
    background-color: #ba2732; 
  }
  .main-header img {
    margin: auto;
  }
  .bookmarks {
    /* width: 150px; */
    min-height: 42px;
    display: flex;
  }
  .bookmarks a:hover {
    background-color: #212a3a;
  }
  .bookmarks a:focus {
    background-color: #212a3a;
  }
  .bookmarks a:active {
    background-color: #161d29;
  }
  .basket {
    width: 150px;
    min-height: 42px;
  }
  .basket a:hover {
    background-color: #212a3a;
  }
  .basket a:focus {
    background-color: #212a3a;
  }
  .basket a:active {
    background-color: #161d29;
  }
  .checkout {
    background-color: #63a63e;
    width: 150px;
    min-height: 42px;
  }
  .checkout a:hover {
      background-color: #5fbb2d;
  }
  .checkout a:focus {
      background-color: #518534;
  }
  .about-company-h1 {
    color: #ee3643;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    width: 210px;
    padding-left: 52px;
    margin-right: 70px;
  /* Временно для сетки */    
    min-height: 70px;  
  }   
  .phone {
    padding-top: 13px;
    padding-bottom: 11px;
    padding-right: 52px;
    padding-left: 74px;
    border: 3px solid #fff;
    display: block;
    
  }
  .phone a {
    font-size: 21px; 
    color: #ee3643;
    line-height: 21px;
    position: relative;
  }
  .phone a::before {
    content: "";
    background-image: url(../img/icon-phone.svg);
    width: 19px;
    height: 19px;
    position: absolute;
    left: -59px;
  }
  .address-small {
    font-style: normal;
    font-size: 14px;
    color: #32425c;
    margin-top: 10px;
    padding-left: 10px;
  }
  .info-contats {
    width: 270px;
  }
  .join-reg li {
    list-style: none;
  }
  .join-reg a {
    font-size: 21px;
    color: #000;
    background-color: #fff;
  }
  .join a {
    margin-right: 10px;
    display: block;
    padding-left: 48px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 27px;
  }
  .join svg {
    position: absolute;
    left: 14px;
    top: 15px;
  }
  .join path, 
  .join polygon {
    fill: #c5c5c5;
  }
  .register a {
    width: 150px;
    height: 45px;
    display: block;    
  }
  .join-reg a:hover {
    color: #ee3643;
  }
  .main-nav li{
      list-style: none;
  }
  .main-nav ul {
    margin: 0;
    margin-top: 42px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #32425c;

    width: 900px;

  }
  .main-nav li:first-child::before {
    background-color: red;
    width: 11px;
    margin-left: -11px;
  }
  .main-nav a {
    display: block;
    padding: 21px 30px;
  }
  .main-nav a:hover {
    background-color:#293449;
  }
  .main-nav a:focus {
    background-color:#1d2739;
  }
  
  .card span {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-left: 23px;
    margin-top: 21px;
    display: block;
  }
  .materials::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    background-image: url("../img/icon-1.svg");
    right: 43px;
    top: 31px;
  }
  .instruments::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-2.svg");
    right: 28px;
    top: 33px;
  }
  .equipment::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    background-image: url("../img/icon-3.svg");
    right: 28px;
    top: 31px;
  }
  .discount::before {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    background-image: url("../img/icon-4.svg");
    right: 45px;
    top: 26px;
  }
  .delivery::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    background-image: url("../img/icon-5.svg");
    right: 31px;
    top: 32px;
  }

  .card a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 25px;
    display: inline-block;
  }
  .card a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .card a:focus {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .materials {
    background-color: #ffbf47;
  }
  .instruments {
    background-color: #3bbce3;
  }
  .equipment {
    background-color: #dc91d8;
  }

  .slider-1 {
    background-color: #1a0f0d;
    background-image: url("../img/slider1.jpg");
    background-repeat: no-repeat;
    width: 620px;
    min-height: 266px;
    display: none;
  }
  .slider-2 {
    background-color: #1a0f0d;
    background-image: url("../img/slider.jpg");
    background-repeat: no-repeat;
    width: 620px;
    min-height: 266px;
  }
  .slider span {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-left: 24px;
    margin-top: 27px;
    display: block;
    text-transform: uppercase; 
  }
  .slider p {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
    margin-left: 25px;
  }
  .slider a {
    background-color: #ee3643;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 45px;
    padding-left: 49px;
    border-radius: 3px;
    position: absolute;
    bottom: 22px;
    left: 25px;
    text-transform: uppercase; 
  }
  .slider a:hover {
    background-color: #ca2c37;
  }
  .slider a:focus {
    background-color: #ba2732; 
  }
  .discount {
    background-color: #8ed78f;
   }
  .delivery {
    background-color: #ffc047;
  }
  .buy a {
    background-color: #63a63e;
    font-size: 14px; 
    color: #fff;
  }
  .buy a:hover {
    background-color: #5fbb2d;
  }
  .buy a:focus {
    background-color: #518534;
  }
  .in-cart a {
    border: 3px solid #63a63e;
    font-size: 14px; 
    color: #32425c;
  }
  .in-cart a:hover {
    border: 3px solid #32425c;
  }
  .in-cart a:focus {
    border: 3px solid #c1c6ce;
  }
  .popular-manufacturers h2 {
    margin: 0;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    padding-left: 30px;
    padding-top: 30px;
    text-transform: uppercase;
  }
  .popular-items h2 {
    margin: 0;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    padding-top: 30px;
    padding-left: 30px;
    text-transform: uppercase;
  }
  .bg-popular-items a {
    background-color: #ee3643;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    margin-right: 24px;
    display: block;
    margin-top: 25px;
    border-radius: 2px;
    padding: 13px 70px;
    text-transform: uppercase;
  }
  .bg-popular-items {
    background-color: #f9f5f0;
  }
  
  .mini-catalog-item li {
    border: 1px solid #eaeaea;
    width: 218px;
    height: 316px;
  }
  .catalog-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #000;
    font-size:  18px;
    line-height: 20px;
    margin: 0;
  }
  .del-price {
    line-height: 18px;
    font-size: 17px;
    font-weight: bold;
    color: #a9a9a9;
    text-decoration: line-through;
    font-family: "PT sans", Arial, sans-serif;
  }
  .stock-item {
    font-weight: bold;
    color: #fff;
    background-color: #ee3643;
    text-align: center;
    font-family: "PT sans", Arial, sans-serif;
  }
  .mini-catalog-manufactures li {
    border: 1px solid #eaeaea;
  }
  .catalog-service {
    background-color: #f5f8fa;
    margin-bottom: 75px; 
    padding-top: 1px;

  /* Временно для сетки */    
    min-height: 525px;   
  }

  .catalog-service h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    color: #000;
    margin-top: 65px;
    padding-top: 1px;
    margin-bottom: 38px;

    
  }
  .catalog-service p {
    color: #000;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;
    margin-bottom: 74px;
  }
  .catalog-service button[type="button"] {
    font-size: 21px;
    line-height: 30px; 
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #32425c;
    border: none;
    color: #fff;
    display: block;
    /* padding-left: 23px;
    padding-right: 140px;
    padding-top: 16px;
    padding-bottom: 16px; */ 
    padding: 11px 0 17px 23px;
    margin: 0;
    width: 217px;
  }
  .catalog-service button[type="button"]:hover {
  background-color: #293449;
  }
  .service-credit a {
      font-size: 14px;
      color: #fff;
      background-color: #ff5357;
  }
  .catalog-service li {
    list-style: none;
  }
  .catalog-service h3 {
    color: #32425c;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 34px;
  }
  .middle-nav li {
      list-style: none;
  }
  .about-company {
      color: #000;
  }
  .about-company h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .about-company p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;
    margin-bottom: 20px;
  }
  .company-delivery {
    margin: 0;
    padding: 0;
  }
  .company-delivery li {
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    position: relative;
    margin-top: 20px;
    padding-left: 37px;
  }
  .company-delivery li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    left: 0;
    top: 8px;
  }
  .about-company a {
    border-radius: 3px;

    font-size: 14px;
    color: #fff;
    background-color: #ee3643;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 40px;

  }
  .contants {
    color: #000;
  }
  .contants h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
  }
  .contants p {
    font-size: 13px;
    line-height: 24px;   
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0; 
    margin-bottom: 30px;
  }
  .contants button[type="button"] {
    font-size: 14px;
    line-height: 18px; 
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #ee3643;
    border: none;
    color: #fff;
    margin-top: 40px;
    width: 300px;
    min-height: 38px; 
    display: block;
    border-radius: 3px;
  }
  .top-footer {
    background-color: #32425c;

  }
  .footer-logo {
    width: 220px;
    height: 68px;
    display: flex;
    background-color: #ee3643; 
    box-shadow: inset 0 -5px 0 0 #b52933;
    /* А сдесь лучше как сделать тенью или border-bottom и т.п. ? */
  }
  .top-footer img {
    text-align: center;
    margin: auto;   
  }
  .footer-info-contats {
    margin-top: 32px;
  }
  .top-footer address {
    font-size: 18px;
    line-height: 24px;
    color:#f3f7f9;
    font-style: normal;
    
  }
  .footer-nav li {
    list-style: none;
  }
  .footer-nav a {
    padding: 21px 30px;
    display: block;
  }
  .footer-nav-bottom li:first-child {
    padding-left: 22px;
  }
  .footer-nav-top a {
    line-height: 24px;
    font-size: 18px;
    color: #f1f5f7;
  }
  .footer-nav-top a:hover {
    text-decoration: underline;
  }
  .footer-nav-top a:focus {
    color: rgba(241, 245, 247, 0.5);
  }
  .footer-info-contats a {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
  }
  .footer-nav-bottom a {
    line-height: 24px;
    font-size: 18px;
    color: #ffd180;
  }

  .footer-nav-bottom a:hover {
    text-decoration: underline;

  }
  .footer-nav-bottom a:focus {
    color: rgba(255, 209, 128, 0.5);
  }
  .footer-down {
    background-color: #293449;
  }
  .footer-down span {
    color: #fff;
    font-size: 16px;
  }
  .footer-social ul {
    list-style: none;
  }
  /* 1-вариант */
  .footer-social li {
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    display: flex;  
    border-radius: 20px;     
  }
  .social-button {
    width: 42px;
    height: 42px;
  }
  .social-button-vk {
    content: "";
    width: 26px;
    height: 15px;
    background-image: url("../img/vk-icon.svg");
    margin: auto;
  }  
  .social-button-fb {
    content: "";
    width: 12px;
    height: 22px;
    background-image: url("../img/fb-icon.svg");
    margin: auto;
  }  
  .social-button-insta {
    content: "";
    width: 21px;
    height: 21px;
    background-image: url("../img/insta-icon.svg");
    margin: auto;
  }    
  /* --------- */

/*  2-вариант */
  /* .footer-social li {
    background-color: #212a3a;
    border-radius: 20px;    
    position: relative;
  }
  .social-button {
    width: 42px;
    height: 42px;
  }
  .social-button-vk::after {
    content: "";
    width: 26px;
    height: 15px;
    background-image: url("../img/vk-icon.svg");
    position: absolute;
    left: 8px;
    top: 14px;
  }  
  .social-button-fb::after {
    content: "";
    width: 12px;
    height: 22px;
    background-image: url("../img/fb-icon.svg");
    position: absolute;
    left: 15px;
    top: 11px;
  }  
  .social-button-insta::after {
    content: "";
    width: 21px;
    height: 21px;
    background-image: url("../img/insta-icon.svg");
    position: absolute;
    left: 11px;
    top: 10px;
  }  */
/* ----------- */


  .footer-connection a {
    color: #ffd180;
    line-height: 24px;
    font-size: 16px;
  }
  .footer-connection a:hover {
    text-decoration: underline;
  }
  .footer-connection a:focus {
    color: #ee3643;
  }
  .footer-social li:hover,
  .footer-social li:focus {
    background-color: #ee3643;
  }
  .footer-copyright a {
    color: #ffd180;
    font-size: 16px;
  }
  .footer-copyright a:hover {
    text-decoration: underline;
  }
  .footer-copyright a:focus {
    color: #ee3643;
  }
  .header-down .login {
    font-size: 21px;
    line-height: 21px;
    color: #000;
    background-color: #fff; 
    font-weight: 400px;
  }
  .header-down .login:hover {

  }
  .header-down .login:focus {
    color: rgba(0, 0, 0, 0.3);
  }
  .header-down li {
    list-style: none;
    position: relative;
  }
  .my-orders a {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
  } 
  .my-orders a:hover {
    color: #ee3643;
  } 
  .my-orders a:focus {
    color: rgba(50, 66, 92, 0.3);
  } 
  .personal-area a {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
  } 
  .personal-area a:hover {
    color: #ee3643;
  } 
  .personal-area a:focus {
    color: rgba(50, 66, 92, 0.3);
  } 
  .breadcrumbs {
    font-size: 13px;
    font-family: "PT Sans", Arial, sans-serif;
  }
  .breadcrumbs a {
    color: #000;
    text-transform: uppercase;
  }
  
  .contants-1 h2 {
    text-transform: uppercase;
    color: #000;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 32px;
  } 
  .main-main .catalog {
    color: #32425c;
    background-color: #f2f6f8;
    width: 940px;
    height: 89px;
    margin: 20px 0;
    text-transform: uppercase;
  }
  .bg-sorting {
    background-color: #f7f3ec;
  }
  .bg-sorting li {
    list-style: none;
  }
  .bg-sorting h3 {
    color: #000;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
  }
  .bg-sorting a {
    color: rgba(50, 66, 92, 0.3);
    text-decoration-color: #ee3643;
    text-decoration-line: underline;
    text-decoration-style: dotted; 
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;     
  }
  .bg-sorting a:hover {
    color: #000;
    text-decoration-style: solid;  
  }
  .filter {
    color: #000;
    text-transform: uppercase; 
    font-family: "PT Sans", Arial, sans-serif;    
  }
  .filter li {
    list-style: none;
  }
  .filter legend {
    line-height: 30px;
    font-size: 17px;
    font-weight: bold;
  }
  .filter fieldset {
    border: none;
    /* border-block-start: 1px solid #e5e5e5; */
  }
  .filter label {
    font-size: 15px;
    line-height: 20px;
  }
  .filter button[type="submit"] {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    text-transform: uppercase; 
    font-size: 13px;
    padding: 0;
    line-height: 18px;
  }
  .half-width {
    background-color: #f7f3ec;
    width: 95px;
    height: 38px;
  }
  .about-perforators {
    background-color: #f2f6f8;
    width: 100%;
    min-height: 260px;
  }
  .about-perforators h2  {
    padding-top: 65px;
    margin-bottom: 28px;
    margin: 0;
    color: #000;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase; 
  }
    .about-perforators p  {
      color: #000;
      font-size: 13px;
      line-height: 24px;
      font-family: "PT Sans", Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
  .pagination-item a {
    font-size: 13px;
    line-height: 18px;
    color: #000;
    border: 1px solid #f2f2f2;
    font-family: "PT Sans", Arial, sans-serif;    
    width: 38px;
    min-height: 38px; 
    display: block;
    margin-left: 10px;
  }
  .pagination-list li:last-child a {
    margin-left: 0;
    min-width: 140px;
    min-height: 38px; 
  }
  .pagination-item a:hover {
    border: 1px solid #bdc6ca;
  }
  .pagination-item a:focus {
    border: 1px solid #ee3744;
  }
  .buy-in-cart {
    display: none;
    text-transform: uppercase; 
  }
  
  
  
  
  
  
  .write-us {
    display: none;
  }
  .main-map {
    display: none; 
  }
/* -------Для сетки------- */
  /* -------header------------- */
  .main-header {
    margin-bottom: 59px;
    margin-top: 0;
    background-color: #f2f6f8; 

  /* Временно для сетки */    
    min-height: 320px;
  }
  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px; 
  }
  .index-header .container {
    display: flex;
    margin-bottom: 41px;
    /* Временно для сетки */    
    min-height: 42px;
  }
  .main-header-logo {
    width: 220px; 
    background-color: #ee3643;
    height: 42px;
  }
  .menu {
    width: 720px; 
    display: flex;

  /* Временно для сетки */
    min-height: 42px; 
  }
  .header-info {
    width: 940px;
    display: flex;

  /* Временно для сетки */    
    min-height: 70px;   
  }

  .contants-info {
    margin: 0;
    width: 270px;

  /* Временно для сетки */    
    min-height: 70px;    
  }
  .join-reg {
    margin: 0;
    padding: 0;
    display: flex;

    max-width: 300px;
    margin-left: auto;
  /* Временно для сетки */    
    min-height: 45px;    
  }
  .main-nav {
    width: 940px;
  /* Временно для сетки */    
    min-height: 60px;    
  }
  /* ------------------/header--------------------- */
  /* ---------1-main------------ */

  .middle-nav .container {
    width: 940px;
    display: flex;
    margin-bottom: 53px; 
  
  /* Временно для сетки */    
    min-height: 410px; 
  }
  .speaker-left {
    margin-right: 20px;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  /* Временно для сетки */    
    min-height: 410px; 
  }
  .speaker-right {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  /* Временно для сетки */    
    min-height: 410px;     
  }
  .card {
    position: relative;
    width: 300px;
    min-height: 123px; 
  }
  .slider {
    position: relative;
    width: 620px;
    margin-top: 20px;  
    min-height: 266px; 
  }
  .icon-left {
    position: absolute;
    width: 22px;
    height: 40px;
    background: none;
    border: none;
    background-image: url("../img/icon-left.svg");
    left: 25px;
    top: 114px;
  }
  .icon-right {
    position: absolute;
    width: 22px;
    height: 40px;
    background: none;
    border: none;
    background-image: url("../img/icon-right.svg");
    right: 20px;
    top: 114px;
  }
  .slider-2 {
    width: 620px;
    margin-top: 20px;
  /* Временно для сетки */    
    min-height: 266px;     
  }
  /* ---------/1-main------------ */
  /* ---------2-main------------ */
  .mini-catalog-item {

    margin: 0;
    padding: 0;
    padding-bottom: 1px;

    list-style: none;
    
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  /* Временно для сетки */    
    min-height: 320px;    
  }
  .popular-items .container {
    width: 940px;
    margin-bottom: 0;

  /* Временно для сетки */    
  min-height: 427px;       
  }
  .bg-popular-items  {
    width: 940px;
    margin-bottom: 20px;
  /* Временно для сетки */    
    min-height: 89px;   
    display: flex;   
  }
  .catalog-item {
    width: 220px;

  /* Временно для сетки */    
    min-height: 320px;    
  }
  /* ---------/2-main------------ */
    /* ---------3-main------------ */
  .mini-catalog-manufactures {

    margin: 0;
    padding: 0;

    list-style: none;
    
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  /* Временно для сетки */    
    min-height: 310px;   
  }
  .popular-manufacturers .container {
    margin-bottom: 85px;

  /* Временно для сетки */    
  min-height: 420px;       
  }  
  .mini-catalog-manufactures li {
    margin-bottom: 20px;  
  }
  .mini-catalog-manufactures a {
    display: flex;
    width: 220px;
    display: flex;

  /* Временно для сетки */    
    min-height: 145px;    
  }
  .mini-catalog-manufactures img {
    margin: auto;
  }
   .mini-catalog-manufactures a:hover  {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  }
  .mini-catalog-manufactures a:focus  {
    opacity: 0.3;
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  }  



  
  .mini-catalog-manufactures li:nth-child(n+5) {
    margin-bottom: 0   
  }
  /* ---------/3-main------------ */  
  /* ---------4-main------------ */  

  .service {
  margin: 0;
  padding: 0;
    
  list-style: none;
  }

  .service-warranty {
    display: none;
  }
  .service-credit {
    display: none;
  }
  /* ---------/4-main------------ */ 
  /* ---------5-main------------ */ 
  .about-company {
    width: 525px;
    position: relative;

  /* Временно для сетки */    
    min-height: 370px;   
  }
  .contants {
    width: 300px;
    margin-left: auto;

    /* Временно для сетки */    
      min-height: 370px;  
  }
  .contants-1 {
    display: flex;
    margin-bottom: 86px;
  }
  /* ---------/5-main------------ */   
  /* ---------6-main------------ */ 
  .main-footer {
    width: 100%;
    margin-left: auto; 
    margin-right: auto;

  /* Временно для сетки */    
  min-height: 300px;      
  }
  .top-footer {
    width: 100%;
    display: flex;

  /* Временно для сетки */    
    min-height: 193px;      
  }
  .top-footer .container {
    display: flex;      
  }
  .footer-down {
    width: 100%;
  /* Временно для сетки */    
    min-height: 107px;   
  }
  .footer-down .container {
    display: flex;
    padding-top: 35px;
  }
  .company-yer {
    width: 240px;
    margin-right: 150px;    
  }
  .footer-social {
    margin: 0;
    margin-right: 120px;
    padding: 0;
    display: flex;
    justify-content: space-between;
      
    list-style: none;

    width: 130px;
    
  }
  .footer-connection {
    width: 140px;   
  }
  .footer-copyright {
    width: 110px;

    margin-left: auto;  
  } 
  .contants-info {
    width: 330px;
  /* Временно для сетки */    
    min-height: 70px;  
  }
  .footer-nav {
    width: 620px;
  /* Временно для сетки */    
  min-height: 193px;     
  }
  .footer-nav-top {
    display: flex;
    flex-wrap: wrap;    
    margin: 0;
    padding: 0;
      
    list-style: none;    
  }
  .footer-nav-bottom {
    display: flex;  
    flex-wrap: wrap;  
    margin: 0;
    padding: 0;
      
    list-style: none;    
  }
  .catalog-item-price {
    margin: 0;
    order: -1;
  }
  .catalog-item-image {
    margin: 0;
    margin-bottom: 10px;
  }
  .catalog-service ul {
    margin: 0;
    padding: 0;
    width: 240px;
    min-height: 185px;
    margin-right: 80px;

  }
  /* .header-top ul {
    margin: 0;
    padding: 0;
  } */
  .account {
    margin-left: auto;
  }
  .service-delivery {
    position: relative;
  }
  .service-warranty {
    position: relative;
  }
  .service-credit {
    position: relative;
  }
  .service-delivery::after {
    content: "";
    position: absolute;
    background-image: url("../img/service-delivery.png");
    background-repeat: no-repeat;
    width: 468px;
    height: 261px;
    top: 21px;
    left: 239px;
  }
  .service-warranty::after {
    content: "";
    position: absolute;
    background-image: url("../img/service-warranty.png");
    background-repeat: no-repeat;
    width: 389px;
    height: 283px;
    top: 0;
    left: 240px;
  }
  .service-credit::after {
    content: "";
    position: absolute;
    background-image: url("../img/service-credit.png");
    background-repeat: no-repeat;
    width: 465px;
    height: 285px;
    top: 0;
    left: 151px;
  }
  .service-delivery p {
    max-width: 275px;
  }
  .service-warranty p {
    max-width: 379px;
  }
  .service-credit p {
    max-width: 280px;
  }






  /*-------Временно ------- */  
  .breadcrumbs {
    padding: 0;
    height: 10px;
    margin: 20px 0;
    display: flex; 

  /* Временно для сетки */      
    min-height: 18px;

    list-style: none;
  }
  /* .catalog {
    margin: 0;
    height: 90px;
  } */
  .main-main {
    padding-top: 1px;
  }
  /* .catalog-menu {
    min-height: 40px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 16px;
  } */ 
   .catalog-columns {
    display: flex;
    justify-content: space-between;    
  }  
  .filter {
    width: 220px;

    min-height: 1142px;
  }
  .main-catalog-items {
    width: 700px;
    min-height: 1142px;
  }
  .bg-sorting {
    width: 700px;
    min-height: 38px;
    margin-bottom: 20px;
    text-transform: uppercase; 
  }  
  .catalog-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
  
    list-style: none;
  }
  .catalog-item {
    width: 218px;
    border: #e5e5e5 1px solid;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column-reverse;

    min-height: 316px;
  }
  .catalog-item:nth-child(3n) {
    margin-right: 0;
  }
  .catalog-item img {
    width: 218px;
    height: 170px;
    align-self: flex-end;
  } 
  .pagination-list {
    padding: 0;
    margin: 0;
    display: flex;
    text-transform: uppercase; 
    margin-bottom: 60px;
  
    list-style: none; 

    /* Временно для разметки  */
    min-height: 38px;
  }
  .sorting-items {
    display: flex;
  }
  .filter-name {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    background-color: #f7f3ec;
    width: 220px;
    line-height: 18px;
    min-height: 38px;
  } 
  .filter ul {
    margin: 0;
    padding: 0;
  }
  .catalog-item:hover .buy-in-cart {
    display: block;
  }
  .mini-catalog-item li:nth-child(3n) {
    margin-left: 0;
    margin-right: 20px;
  }
  .mini-catalog-item li:nth-child(4n) {
    margin-left: 0;
    margin-right: 0;
  }
  .information {
    display: flex;
  }