   body {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;

    background-color: #fff;
  }
  a {
    text-decoration: none;
  } 
  img {
    max-width: 100%;
    height: auto;
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
   .index-header {
    background-color: #293449;
  }
  .logo {
    background-color: #ee3643;
    text-align: center;
  }
  .logo:hover {
    background-color: #ca2c37;
  }
  .logo:focus {
    background-color: #ca2c37;  
  }
  .logo:active {
    background-color: #ba2732;
  }
  .header-search {
    border: none;
    background-color: #293449;
    color: #fff;
  }
  .header-search::-webkit-input-placeholder {
     color: #fff;
  }
  .header-search:-ms-input-placeholder { 
    color: #fff; 
  }
  .header-search::-ms-input-placeholder { 
    color: #fff; 
  }
  .header-search::placeholder {
    color: #fff;
  } 
  .header-search:hover {
    background-color: #212a3a;
  }
  .header-search:focus {
    background-color: #fff;
    color: #000;
  }
  .main-header a {
    color: #fff;
  }
  .bookmarks a:hover {
    background-color: #212a3a;
  }
  .bookmarks a:focus {
    background-color: #212a3a;
  }
  .bookmarks a:active {
    background-color: #161d29;
  }
  .basket a:hover {
    background-color: #212a3a;
  }
  .basket a:focus {
    background-color: #212a3a;
  }
  .basket a:active {
    background-color: #161d29;
  }
  .checkout {
    background-color: #63a63e;
  }
  .checkout a:hover {
      background-color: #5fbb2d;
  }
  .checkout a:focus {
      background-color: #518534;
  }
  .about-company-h1 {
    color: #ee3643;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    width: 200px;
    padding-left: 52px;
    margin-right: 70px;
  /* Временно для сетки */    
    min-height: 70px;  
  } 
  .phone a {
    font-size: 21px; 
    border: 3px solid #fff;
    color: #ee3643;
    line-height: 21px;
  }
  .address-small {
      font-style: normal;
      font-size: 14px;
      color: #32425c;
  }
  .join-reg li {
      list-style: none;
  }
  .join-reg a {
    font-size: 21px;
    color: #000;
    background-color: #fff;
  }
  .join-reg a:hover {
      color: #ee3643;
  }
  .main-header .container {
    background-color: #f4f7f9;
  }
  .main-nav li{
      list-style: none;
  }
  .main-nav ul {
    margin: 0;
    margin-top: 42px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    width: 940px;

  }
  .main-nav li:first-child a { 
  padding-left: 52px;
  padding-right: 34px;
  } 
  .main-nav li:last-child a {
      padding-right: 52px;
      padding-left: 34px;    
  }   
  .main-nav a {
    background-color:#32425c;
    display: block;
    padding: 21px 30px;

    vertical-align: middle; 
  }
  .main-nav a:hover {
    background-color:#293449;
  }
  .main-nav a:focus {
    background-color:#1d2739;
  }
  .card span {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }
  .card a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .card a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .card a:focus {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .materials {
    background-color: #ffbf47;
  }
  .instruments {
    background-color: #3bbce3;
  }
  .equipment {
    background-color: #dc91d8;
  }

  .slider-1 {
    background-color: #1a0f0d;
    background-image: url("../img/slider1.jpg");
    background-repeat: no-repeat;
    width: 620px;
    min-height: 266px;
    display: none;
  }
  .slider-2 {
    background-color: #1a0f0d;
    background-image: url("../img/slider.jpg");
    background-repeat: no-repeat;
    width: 620px;
    min-height: 266px;
  }
  .slider span {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }
  .slider p {
    font-size: 18px;
    line-height: 24px;
  }
  .slider a {
    background-color: #ee3643;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
  }
  .slider a:hover {
    background-color: #ca2c37;
  }
  .slider a:focus {
    background-color: #ba2732; 
  }
  .discount {
    background-color: #8ed78f;
   }
  .delivery {
    background-color: #ffc047;
  }
  .buy a {
    background-color: #63a63e;
    font-size: 14px; 
    color: #fff;
  }
  .buy a:hover {
    background-color: #5fbb2d;
  }
  .buy a:focus {
    background-color: #518534;
  }
  .in-cart a {
    border: 3px solid #63a63e;
    font-size: 14px; 
    color: #32425c;
  }
  .in-cart a:hover {
    border: 3px solid #32425c;
  }
  .in-cart a:focus {
    border: 3px solid #c1c6ce;
  }
  .popular-manufacturers h2 {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
  }
  .popular-items h2 {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
  }
  .bg-popular-items a {
    background-color: #ee3643;
    color: #fff;
    font-size: 14px;
  }
  .bg-popular-items {
    background-color: #f9f5f0;
  }
  
  .mini-catalog-item li {
    border: 1px solid #eaeaea;
    width: 218px;
    height: 316px;
  }
  .catalog-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #000;
    font-size:  18px;
    line-height: 20px;
    margin: 0;
  }
  .del-price {
    line-height: 18px;
    font-size: 17px;
    font-weight: bold;
    color: #a9a9a9;
    text-decoration: line-through;
    font-family: "PT sans", Arial, sans-serif;
  }
  .stock-item {
    font-weight: bold;
    color: #fff;
    background-color: #ee3643;
    text-align: center;
    font-family: "PT sans", Arial, sans-serif;
  }
  .mini-catalog-manufactures li {
      border: 1px solid #eaeaea;
      width: 218px;
      height: 143px;
  }
  .catalog-service {
    background-color: #f5f8fa;
    margin-bottom: 75px; 
    padding-top: 1px;

  /* Временно для сетки */    
    min-height: 525px;   
  }

  .catalog-service h2 {
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    color: #000;
    margin-bottom: 13px;
    margin-top: 65px;
    padding-top: 1px;
  }
  .catalog-service p {
    color: #000;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;
  }
  .catalog-service button[type="button"] {
    font-size: 21px;
    line-height: 30px; 
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #32425c;
    border: none;
    color: #fff;
  }
  .catalog-service button[type="button"]:hover {
  background-color: #293449;
  }


  .service-credit a {
      font-size: 14px;
      color: #fff;
      background-color: #ff5357;
  }
  .catalog-service li {
      list-style: none;
  }
  .catalog-service h3 {
      color: #32425c;
      font-size: 36px;
      line-height: 36px;
  }
  .middle-nav li {
      list-style: none;
  }
  .about-company {
      color: #000;
  }
  .about-company h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .about-company p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", Arial, sans-serif;
  }
  .company-delivery li {
    font-size: 18px;
    line-height: 20px;
    list-style: none;
  }
  .about-company a {
    font-size: 14px;
    color: #fff;
    background-color: #ff5357;
  }
  .contants {
    color: #000;
  }
  .contants h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
  }
  .contants p {
    font-size: 13px;
    line-height: 24px;   
    font-family: "PT Sans", Arial, sans-serif;
  }
  .contants button[type="button"] {
    font-size: 14px;
    line-height: 18px; 
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #ee3643;
    border: none;
    color: #fff;
  }
  .top-footer {
    background-color: #32425c;

  }
  .top-footer img {
    background-color: #ee3643;
    text-align: center;
  }
  .top-footer address {
    font-size: 18px;
    line-height: 24px;
    color:#f3f7f9;
    font-style: normal;
  }

  .footer-nav-top li {
    list-style: none;
  }
  .footer-nav-bottom li {
    list-style: none;  
  }
  .footer-nav-top a {
    line-height: 24px;
    font-size: 18px;
    color: #f1f5f7;
  }
  .footer-nav-top a:hover {
    text-decoration: underline;
  }
  .footer-nav-top a:focus {
    color: rgba(241, 245, 247, 0.5);
  }
    .top-footer span a {
    color: #f3f7f9;
  }
  .footer-nav-bottom a {
    line-height: 24px;
    font-size: 18px;
    color: #ffd180;
  }

  .footer-nav-bottom a:hover {
    text-decoration: underline;

  }
  .footer-nav-bottom a:focus {
    color: rgba(255, 209, 128, 0.5);
  }


  .footer-down {
    background-color: #293449;
  }
  .footer-down span {
    color: #fff;
    font-size: 16px;
  }
  .footer-social li {
    list-style: none;
  }
  .footer-social a {
    background-color: #212a3a;
  }
  .footer-connection a {
    color: #ffd180;
    line-height: 24px;
    font-size: 16px;
  }
  .footer-connection a:hover {
    text-decoration: underline;
  }
  .footer-connection a:focus {
    color: #ee3643;
  }
  .footer-social a:hover {
    background-color: #ee3643;
  }
  .footer-social a:focus {
    background-color: #ee3643;
  }
  .footer-copyright a {
    color: #ffd180;
    font-size: 16px;
  }
  .footer-copyright a:hover {
    text-decoration: underline;
  }
  .footer-copyright a:focus {
    color: #ee3643;
  }
  .header-down .login {
    font-size: 21px;
    line-height: 21px;
    color: #000;
    background-color: #fff; 
    font-style: 400px;
  }
  .header-down .login:hover {

  }
  .header-down .login:focus {
    color: rgba(0, 0, 0, 0.3);
  }
  .header-down li {
    list-style: none;
  }
  .my-orders a {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
  } 
  .my-orders a:hover {
    color: #ee3643;
  } 
  .my-orders a:focus {
    color: rgba(50, 66, 92, 0.3);
  } 
  .personal-area a {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
  } 
  .personal-area a:hover {
    color: #ee3643;
  } 
  .personal-area a:focus {
    color: rgba(50, 66, 92, 0.3);
  } 
  .breadcrumbs {
    font-size: 13px;
    font-family: "PT Sans", Arial, sans-serif;
  }
  .breadcrumbs a {
    color: #000;
  }
  
  .contants-1 h2 {
    color: #000;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
  } 
  .main-main .catalog {
    color: #32425c;
    background-color: #f2f6f8;
    width: 940px;
    height: 89px;
    margin: 20px 0;
  }
  .main-main .catalog1 {
    color: #32425c;

  }
  .bg-sorting {
    background-color: #f7f3ec;
  }
  .bg-sorting li {
    list-style: none;
  }
  .bg-sorting h3 {
    color: #000;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
  }
  .bg-sorting a {
    color: rgba(50, 66, 92, 0.3);
    text-decoration-color: #ee3643;
    text-decoration-line: underline;
    text-decoration-style: dotted;  
  }
  .bg-sorting a:hover {
    color: #000;
    text-decoration-style: solid;  
  }
  .filter {
    color: #000;
    
  }
  .filter li {
    list-style: none;
  }
  .filter legend {
    line-height: 30px;
    font-size: 17px;
    font-weight: bold;
  }
  .filter fieldset {
    border: none;
    border-block-start: 1px solid #e5e5e5;
  }
  .filter label {
    font-size: 15px;
    line-height: 20px;
  }
  .filter button[type="submit"] {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    }
    .half-width {
      background-color: #f7f3ec;
      width: 95px;
      height: 38px;
    }
    .about-perforators {
      margin: 0 auto;
      background-color: #f2f6f8;
      width: 1200px;
      min-height: 260px;
    }
    .about-perforators h2  {
      color: #000; 
      font-size: 30px;
      line-height: 30px;
      font-family: "Cuprum", Arial, sans-serif;
    }
    .about-perforators p  {
      color: #000;
      font-size: 13px;
      line-height: 24px;
      font-family: "PT Sans", Arial, sans-serif;
    }
  .pagination-item a {
    font-size: 13px;
    line-height: 18px;
    color: #000;
    border: 1px solid #f2f2f2;
  }
  .pagination-item a:hover {
    border: 1px solid #bdc6ca;
  }
  .pagination-item a:focus {
    border: 1px solid #ee3744;
  }
  .buy-in-cart {
    display: none;
  }
  
  
  
  
  
  
  .write-us {
    display: none;
  }
  .main-map {
    display: none; 
  }
/* -------Для сетки------- */
  /* -------header------------- */
  .main-header {
    margin-bottom: 59px;
    margin-top: 0;
    background-color: #f2f6f8; 

  /* Временно для сетки */    
    min-height: 320px;
  }
  .container {
    margin: 0 auto;
    width: 940px;   
  }
  .index-header {
    width: auto;
    display: flex;
    margin-bottom: 41px;

    /* Временно для сетки */    
    min-height: 42px;
  }
  .main-header-logo {
    width: 220px; 
    background-color: #ee3643;
    height: 47px;
  }
  .menu {
    width: 720px; 
    display: flex;

  /* Временно для сетки */
    min-height: 42px; 
  }
  .header-top {
    width: 940px;
    display: flex;

  /* Временно для сетки */    
    min-height: 70px;   
  }

  .contants-info {
    margin: 0;
    width: 270px;

  /* Временно для сетки */    
    min-height: 70px;    
  }
  .join-reg {
    margin: 0;
    padding: 0;

    max-width: 200px;
    margin-left: auto;
  /* Временно для сетки */    
    min-height: 45px;    
  }
  .main-nav {
    width: 940px;
  /* Временно для сетки */    
    min-height: 60px;    
  }
  /* ------------------/header--------------------- */
  /* ---------1-main------------ */

  .middle-nav {
    width: 940px;
    display: flex;
    margin-bottom: 53px; 
    margin-top: 59px;

  /* Временно для сетки */    
    min-height: 410px; 
  }
  .speaker-left {
    margin-right: 20px;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  /* Временно для сетки */    
    min-height: 410px; 
  }
  .speaker-right {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  /* Временно для сетки */    
    min-height: 410px;     
  }
  .card {
    width: 300px;
  /* Временно для сетки */    
    min-height: 123px; 
  }
  .slider {
    width: 620px;
    margin-top: 20px;
  /* Временно для сетки */    
    min-height: 266px; 
  }
  .slider-2 {
    width: 620px;
    margin-top: 20px;
  /* Временно для сетки */    
    min-height: 266px;     
  }
  /* ---------/1-main------------ */
  /* ---------2-main------------ */
  .mini-catalog-item {

    margin: 0;
    padding: 0;

    list-style: none;
    
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  /* Временно для сетки */    
    min-height: 320px;    
  }
  .popular-items {
    width: 940px;
    margin-bottom: 21px;

  /* Временно для сетки */    
  min-height: 427px;       
  }
  .bg-popular-items {
    width: 940px;
    margin-bottom: 20px;
  /* Временно для сетки */    
    min-height: 89px;      
  }
  .catalog-item {
    width: 220px;

  /* Временно для сетки */    
    min-height: 320px;    
  }
  /* ---------/2-main------------ */
    /* ---------3-main------------ */
  .mini-catalog-manufactures {

    margin: 0;
    padding: 0;

    margin-bottom: 85px;

    list-style: none;
    
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  /* Временно для сетки */    
    min-height: 310px;   
  }
  .popular-manufacturers {
    width: 940px;

  /* Временно для сетки */    
  min-height: 420px;       
  }  
  .bg-popular-items {
    width: 940px;
    margin-bottom: 20px;
  /* Временно для сетки */    
    min-height: 89px;      
  }
  .mini-catalog-manufactures li {
    width: 220px;
    margin-bottom: 20px;

  /* Временно для сетки */    
    min-height: 145px;    
  }
  .mini-catalog-manufactures li:nth-child(5) {
    margin-bottom: 0   
  }
  .mini-catalog-manufactures li:nth-child(6) {
    margin-bottom: 0   
  }
  .mini-catalog-manufactures li:nth-child(7) {
    margin-bottom: 0   
  }
  .mini-catalog-manufactures li:nth-child(8) {
    margin-bottom: 0   
  }
  /* ---------/3-main------------ */  
  /* ---------4-main------------ */  

  .service {
  margin: 0;
  padding: 0;
    
  list-style: none;
  }

  .service-warranty {
    display: none;
  }
  .service-credit {
    display: none;
  }
  /* ---------/4-main------------ */ 
  /* ---------5-main------------ */ 
  .about-company {
    width: 525px;

  /* Временно для сетки */    
    min-height: 370px;   
  }
  .contants {
    width: 300px;
    margin-left: auto;

    /* Временно для сетки */    
      min-height: 370px;  
  }
  .contants-1 {
    display: flex;
    margin-bottom: 86px;
  }
  /* ---------/5-main------------ */   
  /* ---------6-main------------ */ 
  .main-footer {
    width: 1200px;
    margin-left: auto; 
    margin-right: auto;

  /* Временно для сетки */    
  min-height: 300px;      
  }
  .top-footer {
    width: 1200px;
    display: flex;

  /* Временно для сетки */    
    min-height: 193px;      
  }
  .footer-down {
    width: 1200px;
    display: flex;
  /* Временно для сетки */    
    min-height: 107px;   
  }
  .company-yer {
    width: 230px;
    margin-left: 130px;
    margin-right: 160px;
  /* Временно для сетки */    
  min-height: 107px;     
  }
  .footer-social {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 120px;
    padding: 0;
      
    list-style: none;

    width: 132px;
    
  /* Временно для сетки */    
    min-height: 107px;  
  }
  .footer-connection {
    margin-right: 53px;
    width: 135px;

  /* Временно для сетки */    
  min-height: 107px;    
  }
  .footer-copyright {
    width: 96px;

    margin-right: 145px;
  /* Временно для сетки */    
  min-height: 107px;    
  } 



  .contants-info {
    width: 335px;
    margin-left: auto;
  /* Временно для сетки */    
    min-height: 70px;  
  }
  .footer-nav {
    width: 555px;
    margin-right: auto;
    margin-left: 68px;
  /* Временно для сетки */    
  min-height: 193px;     
  }
  .footer-nav-top {
    margin: 0;
    padding: 0;
      
    list-style: none;    
  }
  .footer-nav-bottom {
    margin: 0;
    padding: 0;
      
    list-style: none;    
  }
  .catalog-item-price {
    margin: 0;
  }
  .catalog-item-image {
    margin: 0;
  }
  .catalog-service ul {
    margin: 0;
    padding: 0;
  }
  /* .header-top ul {
    margin: 0;
    padding: 0;
  } */
  .account {
    margin-left: auto;
  }
  .service-delivery {
    background-image: url("../img/service-delivery.png");
    background-repeat: no-repeat;
  }
  .service-warranty {
    background-image: url("../img/service-warranty.png");
    background-repeat: no-repeat;
  }
  .service-credit {
    background-image: url("../img/service-credit.png");
    background-repeat: no-repeat;
  }
  /*-------Временно ------- */  
  .breadcrumbs {
    padding: 0;
    height: 10px;
    margin: 20px 0;
    display: flex; 

  /* Временно для сетки */      
    min-height: 18px;

    list-style: none;
  }
  /* .catalog {
    margin: 0;
    height: 90px;
  } */
  .main-main {
    padding-top: 1px;
  }
  /* .catalog-menu {
    min-height: 40px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 16px;
  } */ 
   .catalog-columns {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 60px;
  }  
  .filter {
    width: 220px;

    min-height: 1142px;
  }
  .main-catalog-items {
    width: 700px;
    min-height: 1142px;
  }
  .bg-sorting {
    width: 700px;
    min-height: 40px;
    margin-bottom: 20px;
  }  
  .catalog-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
  
    list-style: none;
  }
  .catalog-item {
    width: 218px;
    border: #e5e5e5 1px solid;
    margin-bottom: 20px;
    margin-right: 20px;

    min-height: 316px;
  }
  .catalog-item:nth-child(3n) {
    margin-right: 0;
  }
  .pagination-list {
    padding: 0;
    margin: 0;
    display: flex;
  
    list-style: none; 
    
    min-height: 38px;
  }
  .sorting-items {
    display: flex;
  }